/lab1_v2/zad1/txt/
/lab1_v2/zad1/lib_diff
/lab1_v2/zad1/lib_diff.a
/lab1_v2/zad1/lib_diff.so

/lab1_v2/zad1/tmp.txt
/lab1_v2/zad2/txt/
/lab1_v2/zad2/lib_diff
/lab1_v2/zad2/lib_diff.a
/lab1_v2/zad2/lib_diff.so
/lab1_v2/zad3a/txt/
/lab1_v2/zad3b/txt/
/lab1_v2/zad2/tmp.txt
/lab1_v2/zad2/main

main
tmp.txt

tmp2.txt
original.txt

/lab2/zad1/*.txt
/lab2/zad2/*.txt
/lab2/zad2/find_ex.c
/lab2/zad1/*.a
!/lab2/zad1/wyniki.txt
/lab2/zad1/generator_prog

.vscode
