/lab1_v2/zad1/txt/
/lab1_v2/zad1/lib_diff
/lab1_v2/zad1/lib_diff.a
/lab1_v2/zad1/lib_diff.so

/lab1_v2/zad1/tmp.txt
/lab1_v2/zad2/txt/
/lab1_v2/zad2/lib_diff
/lab1_v2/zad2/lib_diff.a
/lab1_v2/zad2/lib_diff.so

/lab1_v2/zad2/tmp.txt
/lab1_v2/zad2/main

main
tmp.txt